@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700,700i,900');

.subheadline {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;

    &--color-primary {
        color: $color-primary;
    }
    &--color-white {
        color: $color-primary;
    }
}

.section-articles {
    h3 {
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 2rem;
        color: $color-primary;
    }
}
