@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,300i,400');

.subheadline {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;

    &--color-primary {
        color: $color-primary;
    }
    &--color-white {
        color: $color-primary;
    }
}

.section-articles {
    h3 {
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 2rem;
        color: $color-primary;
    }
}

h2 { font-size: 3rem; }
h3 { font-size: 2.6rem; }
h4 { font-size: 2.2rem; }
h5 { font-size: 2rem; }