@import url('https://fonts.googleapis.com/css?family=Lato:100,300,300i,400');

.subheadline {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
    color: $color-primary;
}
