<footer class="g-bg-secondary g-color-black g-py-20">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
        <div class="d-lg-flex">
          <small class="g-color-black-opacity-0_5 g-color-black--hover d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">SmartLine
            © 2018</small>
        </div>
      </div>

      <div class="col-md-4 align-self-center">
        <ul class="list-inline text-center text-md-right mb-0">
          <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
            <a href="https://www.facebook.com/smartlinepro.com.br/" target="_blank" class="g-color-black-opacity-0_5 g-color-black--hover">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
            <a href="https://www.instagram.com/smartlinepro.com.br/" target="_blank" class="g-color-black-opacity-0_5 g-color-black--hover">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>