<header class="header">
  <div class="header__navbar">
    <div class="brand box-left">
      <div class="brand--small">
        <a href="{{ site.url }}">
          <svg viewBox="0 0 152.01 131.64">
            <path d="M152,65.82,114,0H38L0,65.82l38,65.82h76Zm-132.87,0L47.57,16.57H75L51.57,60.91A10.65,10.65,0,0,0,51,62v0h0a9.14,9.14,0,0,0-.84,3.84h0A9.24,9.24,0,0,0,59.36,75H76.44l-21,40H47.57ZM77,115.07l23.42-44.34a7.65,7.65,0,0,0,.57-1l0,0h0a9,9,0,0,0,.85-3.84h0a9.25,9.25,0,0,0-9.22-9.22H75.56l21.16-40h7.72l28.43,49.25-28.43,49.25Z" />
          </svg>
        </a>
      </div>
    </div>
    <div class="box-right">
      <nav class="menu" role="navigation">
        <ul>
          <li><a href="/">Central de ajuda</a></li>
          <!-- <li><a href="/faq">FAQ</a></li>
          <li><a href="/contato">Contato</a></li> -->
        </ul>
      </nav>
    </div>
  </div>
</header>