//COLORS
$color-black: #000;
$color-white: #fff;
$color-gray: #f9f9f9;
$color-primary: #3179ce;
$color-secondary: #009FE3;



//GRID
$grid-width: 114rem;
$grid-gap-vertical: 8rem;
$grid-gap-horizontal: 6rem;