
.card {
    padding: 2rem;
    border-radius: .7rem;
    box-shadow: 0 .2rem .8rem rgba($color: #ccc, $alpha: 0.5);
    text-align: center;
    background-color: $color-white;

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        i {
            color: $color-white;
        }
    }

    &--white {
        background-color: $color-white;
    }

    &--blue {
        background-color: $color-primary;
    }

    &__heading {
        font-size: 2rem;
    }

    i {
        font-size: 10rem;
        color: $color-primary;
    }

    p {
        font-size: 1.6rem;
        font-weight: 300;
    }
}