.hero {
    height: 50vh;
    background-image: linear-gradient(to right bottom, $color-primary, $color-secondary);
    background-size: cover;
    background-position: center;
    position: relative;

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__heading {
        span {
            text-align: center;
            display: block;

            &:last-child {
                font-size: 3rem;
                font-weight: 200;
            }
        }

        &--primary {
            font-size: 4rem;
            color: $color-white;
        }

        &--secundary {
            font-size: 2rem;
            color: $color-white;
        }
    }

    &__search {
        margin-top: 5rem;
        position: relative;

        input {
            width: 100%;
            padding: 2rem;
            border: 0;
            border-radius: 5rem;
            font-size: 2rem;

        }

        ul {
            position: absolute;
            list-style: none;
            margin-top: 5px;
            width: 100%;


            li {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 2.2;
                padding: .3rem 2rem .3rem;
                background-color: $color-white;
                border-left: .1rem solid #efefef;
                border-right: .1rem solid #efefef;

                &:first-child {
                    padding-top: 2rem;
                    border-top-left-radius: 1rem;
                    border-top-right-radius: 1rem;
                }

                &:last-child {
                    padding-bottom: 2rem;
                    border-bottom-left-radius: 1rem;
                    border-bottom-right-radius: 1rem;
                }

                a {
                    &:link,
                    &:visited {
                        color: $color-black;
                        text-decoration: none;
                    }

                    &:hover,
                    &:active {
                        color: $color-primary;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}