@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700,700i,900");
.box-left {
  float: left;
}

.box-right {
  float: right;
}

.align-center {
  text-align: center;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2;
  text-rendering: optimizeLegibility;
  color: #333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

a:link, a:visited {
  color: #3179ce;
}

a:hover, a:active {
  color: #3179ce;
}

.subheadline {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.subheadline--color-primary {
  color: #3179ce;
}

.subheadline--color-white {
  color: #3179ce;
}

.section-articles h3 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: #3179ce;
}

.row, .article__content, .article__related {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 6rem * 2) / 3);
}

.row .col-2-of-3 {
  width: calc( 2 * ((100% - 6rem * 2) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 6rem * 3) / 4);
}

.row .col-2-of-4 {
  width: calc( 2 * ((100% - 6rem * 3) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc( 3 * ((100% - 6rem * 3) / 4) + 6rem * 2);
}

.header {
  width: 100vw;
  padding: 2.5rem 1.5rem 2rem;
  display: table;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

.header__navbar {
  max-width: 114rem;
  margin: 0 auto;
  display: block;
}

.brand svg {
  fill: #3179ce;
}

.brand--small {
  width: 40px;
  height: 40px;
}

.brand--medium {
  width: 100px;
  height: 100px;
}

.menu ul {
  list-style: none;
}

.menu ul li {
  float: left;
}

.menu ul li a {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2;
  margin-left: 1.5rem;
}

.menu ul li a:link, .menu ul li a:visited {
  color: #3179ce;
  text-decoration: none;
  border-bottom: .2rem solid transparent;
}

.menu ul li a:hover, .menu ul li a:active {
  color: #3179ce;
  text-decoration: none;
  border-bottom: 0.2rem solid #3179ce;
}

.card {
  padding: 2rem;
  border-radius: .7rem;
  -webkit-box-shadow: 0 0.2rem 0.8rem rgba(204, 204, 204, 0.5);
          box-shadow: 0 0.2rem 0.8rem rgba(204, 204, 204, 0.5);
  text-align: center;
  background-color: #fff;
}

.card:hover {
  background-color: #3179ce;
  color: #fff;
}

.card:hover i {
  color: #fff;
}

.card--white {
  background-color: #fff;
}

.card--blue {
  background-color: #3179ce;
}

.card__heading {
  font-size: 2rem;
}

.card i {
  font-size: 10rem;
  color: #3179ce;
}

.card p {
  font-size: 1.6rem;
  font-weight: 300;
}

.hero {
  height: 50vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#3179ce), to(#009FE3));
  background-image: linear-gradient(to right bottom, #3179ce, #009FE3);
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero__heading span {
  text-align: center;
  display: block;
}

.hero__heading span:last-child {
  font-size: 3rem;
  font-weight: 200;
}

.hero__heading--primary {
  font-size: 4rem;
  color: #fff;
}

.hero__heading--secundary {
  font-size: 2rem;
  color: #fff;
}

.hero__search {
  margin-top: 5rem;
  position: relative;
}

.hero__search input {
  width: 100%;
  padding: 2rem;
  border: 0;
  border-radius: 5rem;
  font-size: 2rem;
}

.hero__search ul {
  position: absolute;
  list-style: none;
  margin-top: 5px;
  width: 100%;
}

.hero__search ul li {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2;
  padding: .3rem 2rem .3rem;
  background-color: #fff;
  border-left: .1rem solid #efefef;
  border-right: .1rem solid #efefef;
}

.hero__search ul li:first-child {
  padding-top: 2rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.hero__search ul li:last-child {
  padding-bottom: 2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.hero__search ul li a:link, .hero__search ul li a:visited {
  color: #000;
  text-decoration: none;
}

.hero__search ul li a:hover, .hero__search ul li a:active {
  color: #3179ce;
  text-decoration: none;
}

[class^="section-"] {
  padding: 10rem 0;
}

.section-topics {
  background-color: #f9f9f9;
}

.section-topics a {
  color: rgba(0, 0, 0, 0.7);
}

.section-articles .content {
  max-width: 70%;
  margin: 0 auto;
}

.nav-articles {
  list-style: none;
  margin-bottom: 5rem;
}

.nav-articles li {
  display: block;
  margin-bottom: 2px;
  border-bottom: 1px solid #efefef;
}

.nav-articles li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-articles li a:link, .nav-articles li a:visited {
  color: #000;
}

.nav-articles li a:hover, .nav-articles li a:active {
  color: #3179ce;
}

.article__header {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#3179ce), to(#009FE3));
  background-image: linear-gradient(to right bottom, #3179ce, #009FE3);
  background-size: cover;
  background-position: center;
  padding: 10rem 0;
  text-align: center;
  color: #fff;
}

.article__headind {
  font-size: 4rem;
}

.article__lead {
  font-size: 2rem;
  font-weight: 300;
}

.article__content {
  padding: 8rem 1.5rem 0;
}

.article__content p,
.article__content ol,
.article__content ul {
  margin-bottom: 3rem;
}

.article__content h1,
.article__content h2,
.article__content h3,
.article__content h4,
.article__content h5,
.article__content h6 {
  margin-bottom: 2.5rem;
  font-weight: 900;
}

.article__content h2 {
  font-size: 3.6rem;
}

.article__content h3 {
  font-size: 3rem;
}

.article__content h4 {
  font-size: 2.5rem;
}

.article__content h5 {
  font-size: 2.3rem;
}

.article__content ol,
.article__content ul {
  list-style-position: inside;
}

.article__content ol ol,
.article__content ol ul,
.article__content ul ol,
.article__content ul ul {
  margin-left: 2rem;
  list-style-position: inside;
}

.article__content ol li,
.article__content ul li {
  margin-bottom: 1.25rem;
}

.article__content strong {
  font-weight: 700;
}

.article__content blockquote {
  border-left: solid 4px #3179ce;
  padding-left: 2rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.7;
  margin: 6rem 0;
}

.article__content a {
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.article__content a:link, .article__content a:visited {
  color: #3179ce;
  padding-bottom: 2px;
  border-bottom: 1px solid #3179ce;
}

.article__content a:hover, .article__content a:active {
  color: #fff;
  background-color: #3179ce;
}

.article__content img {
  max-width: 100%;
  margin: 3rem 0;
}

.article__content iframe {
  max-width: 100%;
  margin: 5rem 0;
}

.article__related {
  padding: 4rem 0 0;
  border-top: 1px solid #efefef;
}
/*# sourceMappingURL=main.css.map */