[class^="section-"] {
    padding: 10rem 0;
}

.section-topics {
    background-color: $color-gray;
    a {
        color: $color-black-a70;
    }
}

.section-articles {
    .content {
        max-width: 70%;
        margin: 0 auto;

        
    }
}

.nav-articles {
    list-style: none;
    margin-bottom: 5rem;

    li {
        display: block;
        margin-bottom: 2px;
        border-bottom: 1px solid $color-gray-light;

        a {
            display: flex;
            padding: 1rem 0;
            justify-content: space-between;

            &:link,
            &:visited {
                
                color: $color-black;
            }

            &:hover,
            &:active {
                color: $color-primary;
            }
        }
    }
}