<!DOCTYPE html>
<html lang="en">
{%- include head.html -%}
<body>
    {%- include header.html -%}
    <main>
        {{ content }}
    </main>
    {%- include footer.html -%}

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Formulário Pré Cadastro de Empresa</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formPreEmpresa">
                        <div class="row ">
                            <div class="col-md-12 form-group g-mb-30 ">
                                <input class="form-control g-brd-primary--focus rounded-10 g-py-13 g-px-15" name="razaoSocial"
                                    id="razaoSocial" type="text" placeholder="Nome da Empresa | Razão Social">
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-12 form-group g-mb-30 ">
                                <input class="form-control g-brd-primary--focus rounded-10 g-py-13 g-px-15" name="cpfCnpj"
                                    id="cpfCnpj" type="text" placeholder="CPF ou CNPJ">
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-12 form-group g-mb-30 ">
                                <input class="form-control g-brd-primary--focus rounded-10 g-py-13 g-px-15" name="nomeResponsavel"
                                    id="nomeResponsavel" type="text" placeholder="Nome do Responsável">
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-12 form-group g-mb-30 ">
                                <input class="form-control g-brd-primary--focus rounded-10 g-py-13 g-px-15" name="emailResponsavel"
                                    id="emailResponsavel" type="text" placeholder="Email do Responsável">
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-12 form-group g-mb-30 ">
                                <input class="form-control g-brd-primary--focus rounded-10 g-py-13 g-px-15" name="telefoneResponsavel"
                                    id="telefoneResponsavel" type="text" placeholder="Telefone para Contato">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="btnSave" class="btn btn-primary">Enviar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="myModalSucessoPreEmpresa">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmação de Pré Cadastro de Empresa</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Sua solicitação de contratação foi enviado para os nossos consultores.
                    </p>
                    <p>
                        Entraremos em contato em até 1 dia útil para prosseguir com sua contratação.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnSave" class="btn btn-primary" data-dismiss="modal">Ok, entendi!</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <div class="modal fade" id="myModalSucessoFaleConosco">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmação de Contato</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Sua mensagem foi enviada com sucesso aos nossos consultores.
                    </p>
                    <p>
                        Entraremos em contato em até 1 dia útil para responder seu contato.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnSave" class="btn btn-primary" data-dismiss="modal">Ok, entendi!</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->



    <!-- JS Global Compulsory -->
    <script src="{{site.url}}/{{site.baseurl}}/assets/vendor/jquery/jquery.min.js "></script>
    <script src="{{site.url}}/{{site.baseurl}}/assets/vendor/jquery.easing/js/jquery.easing.js "></script>
    <script src="{{site.url}}/{{site.baseurl}}/assets/vendor/tether.min.js "></script>
    <script src="{{site.url}}/{{site.baseurl}}/assets/vendor/bootstrap/bootstrap.min.js "></script>

    <!-- JS Implementing Plugins -->
    <script src="{{site.url}}/{{site.baseurl}}/assets/vendor/smoothScroll.js "></script>
    <script src="{{site.url}}/{{site.baseurl}}/assets/vendor/appear.js "></script>
    <script src="{{site.url}}/{{site.baseurl}}/assets/vendor/dzsparallaxer/dzsparallaxer.js "></script>
    <script src="{{site.url}}/{{site.baseurl}}/assets/vendor/dzsparallaxer/dzsscroller/scroller.js "></script>
    <script src="{{site.url}}/{{site.baseurl}}/assets/vendor/dzsparallaxer/advancedscroller/plugin.js "></script>
    <script src="{{site.url}}/{{site.baseurl}}/assets/vendor/fancybox/jquery.fancybox.js "></script>
    <script src="{{site.url}}/{{site.baseurl}}/assets/vendor/cubeportfolio-full/cubeportfolio/js/jquery.cubeportfolio.min.js "></script>
    <script src="{{site.url}}/{{site.baseurl}}/assets/vendor/slick-carousel/slick/slick.js "></script>
    <script src="{{site.url}}/{{site.baseurl}}/assets/vendor/particlesjs/particles.js "></script>
    <script src="{{site.url}}/{{site.baseurl}}/assets/vendor/appear.js"></script>
    <script src="{{site.url}}/{{site.baseurl}}/assets/vendor/custombox/custombox.min.js"></script>

    <!-- JS Unify -->
    <script src="{{site.url}}/{{site.baseurl}}/assets/js/hs.core.js "></script>
    <script src="{{site.url}}/{{site.baseurl}}/assets/js/components/hs.header.js "></script>
    <script src="{{site.url}}/{{site.baseurl}}/assets/js/helpers/hs.hamburgers.js "></script>
    <script src="{{site.url}}/{{site.baseurl}}/assets/js/components/hs.scroll-nav.js "></script>
    <script src="{{site.url}}/{{site.baseurl}}/assets/js/components/hs.onscroll-animation.js "></script>
    <script src="{{site.url}}/{{site.baseurl}}/assets/js/components/hs.modal-window.js"></script>

    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {

            /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
            particlesJS.load('inicio', 'assets/img/particlesjs-config.json', function () {
                console.log('callback - particles.js config loaded');
            });

            // Header
            $.HSCore.components.HSHeader.init($('#js-header'));
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            // initialization of animation
            $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');

            // Initialization of HSScrollNav
            $.HSCore.components.HSScrollNav.init($('#navBar'), {
                duration: 700,
                easing: 'easeOutExpo'
            });

            // Initialization of autonomous popups
            $.HSCore.components.HSModalWindow.init('.js-autonomous-popup', {
                autonomous: true
            });

            $.HSCore.components.HSModalWindow.init('[data-modal-target]:not(.js-modal-markup)');

            // Parallax
            dzsas_init('#as0', {
                settings_mode: 'onlyoneitem',
                design_arrowsize: '0',
                settings_swipe: 'on',
                settings_swipeOnDesktopsToo: 'on',
                settings_slideshow: 'on',
                settings_slideshowTime: '300',
                settings_autoHeight: 'off',
                settings_transition: 'fade',
                settings_centeritems: false
            });
        });

        var quantidade = document.querySelector("#qtdFranquia");
        var assinatura = document.querySelector("#valorAssinatura");
        var count = 1;
        var valor = 300;

        quantidade.value = 'Para ' + count + ' Franquia';
        assinatura.innerHTML = 'R$' + (valor * count);

        function add() {
            count++;
            changeCount(count);
        }

        function remove() {
            if (count > 1) {
                count--;
                changeCount(count);
            }
        }

        function changeCount(count) {
            quantidade.value = (count > 1) ? 'Para ' + count + ' Franquias' : 'Para ' + count + ' Franquia';
            assinatura.innerHTML = 'R$' + (valor * count);
        }

        function enviar() {

            var faleconosco = {
                "nome": $('#nome').val(),
                "email": $('#email').val(),
                "telefone": $('#telefone').val(),
                "assunto": $('#assunto').val(),
                "mensagem": $('#mensagem').val()
            }

            console.log(faleconosco);

            $.ajax({
                url: 'https://smartlinepro.com.br:3000/api/public/site/faleconosco',
                type: 'POST',
                dataType: 'json',
                data: faleconosco,
                success: function (data) {
                    console.log(data);
                    $('#myModalSucessoFaleConosco').modal('show');
                    $('#nome').val('');
                    $('#email').val('');
                    $('#telefone').val('');
                    $('#assunto').val('');
                    $('#mensagem').val('');
                },
                error: function (req, status, err) {
                    console.log('Erro', status, err);
                }
            });
        }

        $('#btnLaunch').click(function () {
            $('#myModal').modal('show');
        });

        $('#btnSave').click(function () {

            var preempresa = {
                "razaoSocial": $('#razaoSocial').val(),
                "cpfCnpj": $('#cpfCnpj').val(),
                "nomeResponsavel": $('#nomeResponsavel').val(),
                "emailResponsavel": $('#emailResponsavel').val(),
                "telefoneResponsavel": $('#telefoneResponsavel').val(),
            }

            $.ajax({
                url: 'https://smartlinepro.com.br:3000/api/public/site/contratar',
                type: 'POST',
                dataType: 'json',
                data: preempresa,
                success: function (data) {
                    $('#myModal').modal('hide');
                    $('#myModalSucessoPreEmpresa').modal('show');
                    $('#razaoSocial').val('');
                    $('#cpfCnpj').val('');
                    $('#nomeResponsavel').val('');
                    $('#emailResponsavel').val('');
                    $('#telefoneResponsavel').val('');
                },
                error: function (req, status, err) {
                    console.log('Erro', status, err);
                    $('#myModal').modal('hide');
                }
            });
        });
    </script>

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-2139765-5', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- BEGIN JIVOSITE CODE {literal} -->
    <script type='text/javascript'>
        (function () {
            var widget_id = 'ZKO6hAlB6x';
            var d = document;
            var w = window;

            function l() {
                var s = document.createElement('script');
                s.type = 'text/javascript';
                s.async = true;
                s.src = '//code.jivosite.com/script/widget/' + widget_id;
                var ss = document.getElementsByTagName('script')[0];
                ss.parentNode.insertBefore(s, ss);
            }
            if (d.readyState == 'complete') {
                l();
            } else {
                if (w.attachEvent) {
                    w.attachEvent('onload', l);
                } else {
                    w.addEventListener('load', l, false);
                }
            }
        })();
    </script>
    <!-- {/literal} END JIVOSITE CODE -->
</body>

</html>