---
layout: default
---

<section class="hero">
    <div class="hero__content">
        <h1 class="hero__heading hero__heading--primary">
            <span>Como podemos ajudar?</span><span>Tudo o que você precisa saber para usar o Smartline</span></h1>
        <div class="hero__search">
            <input type="text" id="search-input" placeholder="ex: quero adicionar franquias">
            <ul id="results-container"></ul>
        </div>
    </div>
</section>

<section class="section-topics">
    <h2 class="subheadline">Procure por tópicos</h2>
    <div class="row">
        <div class="col-1-of-3">
            <a href="!#">
                <div class="card">
                    <h3 class="card__heading">Primeiros Passos</h3>
                    <i class="icon ion-ios-rocket"></i>
                    <p>Aprenda como fazer as configurações básicas do SmartLine</p>
                </div>
            </a>
        </div>
        <div class="col-1-of-3">
            <a href="">
                <div class="card">
                    <h3 class="card__heading">Base de Conhecimento</h3>
                    <i class="icon ion-ios-school"></i>
                    <p>Leia artigos para solucionar dúvidas frequentes</p>
                </div>
            </a>
        </div>
        <div class="col-1-of-3">
            <a href="">
                <div class="card">
                    <h3 class="card__heading">Novidades</h3>
                    <i class="icon ion-ios-build"></i>
                    <p>Confira as novidades e lançamentos do SmartLine</p>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="section-articles">
    <h2 class="subheadline">Sobre o que você deseja saber mais?</h2>
    <div class="row">
        <div class="content">
            {% assign mydocs = site.pages | group_by: 'category' %}
            {% for cat in mydocs | sort %}
            {% unless cat.name == "" %}
            {% if cat.name == "Primeiros Passos" %}
            <div class="primeiros-passos">
                <h3>{{cat.name}}</h3>
                <ul>
                    {% assign items = cat.items %}
                    {% for item in items %}
                    <li>
                        <a href="{{ item.url }}">
                            <span>{{ item.title }}</span>
                            <span class="icon ion-ios-arrow-forward"></span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif%}

            {% if cat.name == "Base de Conhecimentos" %}
            <div class="base-conhecimento">
                <h3>{{cat.name}}</h3>
                <ul class="nav-main flex-direction--column">
                    {% assign items = cat.items %}
                    {% for item in items %}
                    <li>
                        <a href="{{ item.url }}">
                            <span>{{ item.title }}</span>
                            <span class="icon ion-ios-arrow-forward"></span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif%}

            {% endunless %}
            {% endfor %}

        </div>
    </div>
</section>