---
layout: default
---
<!-- Promo Block -->
<section id="inicio" class="g-bg-cover g-bg-pos-center g-bg-img-hero g-bg-black-opacity-0_3--afters g-py-200">
  <div class="container g-z-index-1">
    <div class="row">
      <div class="col-md-4">
        <h1 class=" g-color-black g-font-weight-700 g-mb-30" data-animation="fadeInUp" data-animation-delay="500"
          data-animation-duration="1500">
          A solução completa para Gestão de Atendimento
        </h1>
        <!-- <h3 class="g-font-weight-400 g-font-size-24 g-line-height-2.2 g-mb-30" data-animation="fadeInUp" data-animation-delay="200" data-animation-duration="1500">Solução complenta para Gestão de Atendimento</h3> -->
        <div data-animation="fadeInUp" data-animation-delay="800" data-animation-duration="1500">
          <p class="h1 g-color-black g-font-size-18--md g-font-weight-300 g-mb-30">Uma ferramenta que reúne tudo o que
            você precisa para realizar um atendimento de sucesso e garantir a satisfação do seu cliente.</p>
        </div>
      </div>
      <div class="col-md-8 col-lg-8 g-overflow-hidden">
        <img class="img-fluid" src="assets/img/flatdevices2.png" alt="Image description" data-animation="slideInUp">
      </div>
    </div>
  </div>
</section>
<!-- End Promo Block -->

<section id="porque" class="g-py-100 g-overflow-hidden">
  <div class="container">
    <header class="text-center row g-mb-155">
      <div class="u-heading-v2-3--top col-8 offset-2 g-brd-blue g-mb-20 text-center">
        <h2 class="h1 g-color-black g-font-weight-700">Conheça uma nova forma de gerenciar o atendimento do seu
          negócio.</h2>
      </div>
      <p class="lead g-px-200--lg"></p>
    </header>

    <div class="row">
      <div class="col-md-6">
        <div class="u-heading-v2-3--top g-brd-blue g-mb-30">
          <h3 class="h1 g-color-black mb-4">Organização e Produtividade</h3>
        </div>
        <p class="lead">
          Com uma interface amigável e de fácil uso, o sistema SmartLine proporciona máxima produtividade e organização
          no gerenciamento de atendimento aos clientes durante todo o processo, desde a chegada, o atendimento, até a
          finalização.
        </p>
      </div>

      <div class="col-md-6">
        <img src="assets/img/artboard_01.png" alt="Image Description">
      </div>
    </div>

</section>

<section class="g-py-100 g-overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img style="position: relative; left: -350px" src="assets/img/artboard_02.png" alt="Image Description">
      </div>

      <div class="col-md-6">
        <div class="u-heading-v2-3--top g-brd-blue g-mb-30">
          <h2 class="h1 g-color-black mb-4">Eficiência e Agilidade</h2>
        </div>
        <p class="lead">Gerencie usuários, franquias, crie filas virtuais segmentadas para um atendimento mais
          eficiente e rápido.</p>
      </div>
    </div>
  </div>
</section>

<section class="g-py-100 g-overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="u-heading-v2-3--top g-brd-blue g-mb-30">
          <h2 class="h1 g-color-black mb-4">Conforto e Inovação</h2>
        </div>
        <p class="lead">
          Seus clientes terão mais conforto enquanto aguardam eles assistem a conteúdos informativos, vídeos
          institucionais, notícias, etc. Além disso, a SmartLine vem para inovar com seu novo aplicativo SmartLine
          Mobile, onde o cliente aguarda sua vez na fila
          enquanto utiliza seu smartphone sem se preocupar com a chamada no painel.
        </p>
      </div>

      <div class="col-md-6">
        <img src="assets/img/artboard_03.png" alt="Image Description">
      </div>
    </div>
  </div>
</section>



<section id="recursos" class="u-ns-bg-v1-bottom g-bg-gray-light-v5 g-pt-100 g-pb-70">
  <div class="container">

    <header class="text-center row g-mb-100">
      <div class="u-heading-v2-3--top col-md-8 col-xl-12 g-brd-blue g-mb-20 text-center">
        <h2 class="h1 g-color-black g-font-weight-700">Isso não é tudo! A ferramenta SmartLine vem repleta de ótimos
          recursos.</h2>
      </div>
      <p class="lead g-px-200--lg"></p>
    </header>


    <!-- Icon Blocks -->
    <div class="row">
      <div class="col-lg-4 g-mb-30">
        <!-- Icon Blocks -->
        <div class="text-center">
          <span class="d-block g-color-blue g-font-size-35 g-mb-5">
            <i class="icon-communication-164 u-line-icon-pro"></i>
          </span>
          <h3 class="h5 g-color-black mb-3">Painel de Senhas</h3>
          <p class="g-color-gray-dark-v4">Acompanhe os atendimentos pelo painel e/ou smartphone</p>
        </div>
        <!-- End Icon Blocks -->
      </div>

      <div class="col-lg-4 g-mb-30">
        <!-- Icon Blocks -->
        <div class="text-center">
          <span class="d-block g-color-blue g-font-size-35 g-mb-5">
            <i class="icon-communication-129 u-line-icon-pro"></i>
          </span>
          <h3 class="h5 g-color-black mb-3">Impressão de Senha pelo Tablet</h3>
          <p class="g-color-gray-dark-v4">Aplicativo desenvolvido exclusivo para tablet para impressão de senha.</p>
        </div>
        <!-- End Icon Blocks -->
      </div>

      <div class="col-lg-4 g-mb-30">
        <!-- Icon Blocks -->
        <div class="text-center">
          <span class="d-block g-color-blue g-font-size-35 g-mb-5">
            <i class="icon-science-119 u-line-icon-pro"></i>
          </span>
          <h3 class="h5 g-color-black mb-3">Gestão de Múltiplas Franquias</h3>
          <p class="g-color-gray-dark-v4">Gerencie múltiplas franquias de forma fácil de forma centralizada.</p>
        </div>
        <!-- End Icon Blocks -->
      </div>
    </div>
    <!-- End Icon Blocks -->

    <!-- Icon Blocks -->
    <div class="row">
      <div class="col-lg-4 g-mb-30">
        <!-- Icon Blocks -->
        <div class="text-center">
          <span class="d-block g-color-blue g-font-size-35 g-mb-5">
            <i class="icon-finance-256 u-line-icon-pro"></i>
          </span>
          <h3 class="h5 g-color-black mb-3">Gestão de Filas Segmentadas</h3>
          <p class="g-color-gray-dark-v4">Crie filas segmentadas de acordo com seu negócio.</p>
        </div>
        <!-- End Icon Blocks -->
      </div>

      <div class="col-lg-4 g-mb-30">
        <!-- Icon Blocks -->
        <div class="text-center">
          <span class="d-block g-color-blue g-font-size-35 g-mb-5">
            <i class="icon-finance-253 u-line-icon-pro"></i>
          </span>
          <h3 class="h5 g-color-black mb-3">Relátorio de Atendimento</h3>
          <p class="g-color-gray-dark-v4">Visualize relátorio de atendimento por franquias.</p>
        </div>
        <!-- End Icon Blocks -->
      </div>

      <div class="col-lg-4 g-mb-30">
        <!-- Icon Blocks -->
        <div class="text-center">
          <span class="d-block g-color-blue g-font-size-35 g-mb-5">
            <i class="icon-communication-081 u-line-icon-pro"></i>
          </span>
          <h3 class="h5 g-color-black mb-3">Customização por Franquias</h3>
          <p class="g-color-gray-dark-v4">Configuração de Temas, Playlist Youtube, etc.</p>
        </div>
        <!-- End Icon Blocks -->
      </div>
    </div>
    <!-- End Icon Blocks -->

  </div>
</section>

<!-- Timeline #03 -->
<section id="comofunciona" class="g-py-100">
  <div class="container">

    <header class="text-center row g-mb-100">
      <div class="u-heading-v2-3--top col-8 offset-2 g-brd-blue g-mb-20 text-center">
        <h2 class="h1 g-color-black g-font-weight-700">Como Funciona?</h2>
      </div>
      <p class="lead g-px-200--lg"></p>
    </header>


    <!-- Icon Blocks -->
    <div class="row">
      <div class="offset-2 col-md-8 g-mb-40">
        <!-- Icon Blocks -->
        <div class="media">
          <div class="d-flex mr-4">
            <span class="u-icon-v2 u-icon-size--lg g-brd-3 g-brd-primary g-color-black g-rounded-50x g-mb-25">
              <i class="g-font-style-normal">1</i>
            </span>
          </div>
          <div class="media-body">
            <h3 class="h5 g-color-black g-mb-10">Seleciona atendimento</h3>
            <p class="g-color-gray-dark-v4 mb-0">O cliente seleciona no display do tablet qual atendimento quer
              receber.</p>
          </div>
        </div>
        <!-- End Icon Blocks -->
      </div>
    </div>
    <div class="row">
      <div class="offset-2 col-md-8 g-mb-40">
        <!-- Icon Blocks -->
        <div class="media">
          <div class="d-flex mr-4">
            <span class="u-icon-v2 u-icon-size--lg g-brd-3 g-brd-primary g-color-black g-rounded-50x g-mb-25">
              <i class="g-font-style-normal">2</i>
            </span>
          </div>
          <div class="media-body">
            <h3 class="h5 g-color-black g-mb-10">Emissão de senha</h3>
            <p class="g-color-gray-dark-v4 mb-0">O sistema imprime uma senha, contendo o número de atendimento e o
              código QRcode.</p>
          </div>
        </div>
        <!-- End Icon Blocks -->
      </div>
    </div>
    <div class="row">
      <div class="offset-2 col-md-8 g-mb-40">
        <!-- Icon Blocks -->
        <div class="media">
          <div class="d-flex mr-4">
            <span class="u-icon-v2 u-icon-size--lg g-brd-3 g-brd-primary g-color-black g-rounded-50x g-mb-25">
              <i class="g-font-style-normal">3</i>
            </span>
          </div>
          <div class="media-body">
            <h3 class="h5 g-color-black g-mb-10">Espera interativa</h3>
            <p class="g-color-gray-dark-v4 mb-0">O cliente pode aguardar a chamada pelo painel no estabelecimento,
              assistindo videos institucionais, notícias, etc, e/ou pelo aplicativo SmartLine Mobile enquanto navega
              pela internet, rede sociais, jogos, etc.</p>
          </div>
        </div>
        <!-- End Icon Blocks -->
      </div>
    </div>
    <div class="row">
      <div class="offset-2 col-md-8 g-mb-40">
        <!-- Icon Blocks -->
        <div class="media">
          <div class="d-flex mr-4">
            <span class="u-icon-v2 u-icon-size--lg g-brd-3 g-brd-primary g-color-black g-rounded-50x g-mb-25">
              <i class="g-font-style-normal">4</i>
            </span>
          </div>
          <div class="media-body">
            <h3 class="h5 g-color-black g-mb-10">Atendimento</h3>
            <p class="g-color-gray-dark-v4 mb-0">O atendente faz a chamada da senha pelo computador.</p>
          </div>
        </div>
        <!-- End Icon Blocks -->
      </div>
    </div>
    <div class="row">
      <div class="offset-2 col-md-8 g-mb-40">
        <!-- Icon Blocks -->
        <div class="media">
          <div class="d-flex mr-4">
            <span class="u-icon-v2 u-icon-size--lg g-brd-3 g-brd-primary g-color-black g-rounded-50x g-mb-25">
              <i class="g-font-style-normal">5</i>
            </span>
          </div>
          <div class="media-body">
            <h3 class="h5 g-color-black g-mb-10">Chamada no painel e aplicativo</h3>
            <p class="g-color-gray-dark-v4 mb-0">O número chamado será apresentado no painel e no aplicativo SmartLine
              Mobile.</p>
          </div>
        </div>
        <!-- End Icon Blocks -->
      </div>
    </div>
    <div class="row">
      <div class="offset-2 col-md-8 g-mb-40">
        <!-- Icon Blocks -->
        <div class="media">
          <div class="d-flex mr-4">
            <span class="u-icon-v2 u-icon-size--lg g-brd-3 g-brd-primary g-color-black g-rounded-50x g-mb-25">
              <i class="g-font-style-normal">6</i>
            </span>
          </div>
          <div class="media-body">
            <h3 class="h5 g-color-black g-mb-10">Gerenciamento e Relatórios</h3>
            <p class="g-color-gray-dark-v4 mb-0">Todos os dados dos atendimentos são gerenciados pela ferramenta
              SmartLine, podendo visualizar e emitir relatórios a qualquer momento, tudo online.</p>
          </div>
        </div>
        <!-- End Icon Blocks -->
      </div>
    </div>
  </div>
</section>
<!-- End Timeline #03 -->

<section id="preco" class="g-bg-secondary g-py-100">

  <div class="container">

    <header class="text-center row g-mb-155">
      <div class="u-heading-v2-3--top col-md-8 col-xl-12 g-brd-blue g-mb-20 text-center">
        <h2 class="h1 g-color-black g-font-weight-700">Adquira agora a <span class="text-primary">soluções completa</span>
          para gestão de atendimento</h2>
      </div>
      <p class="lead g-px-200--lg"></p>
    </header>

    <div class="row align-items-lg-center">
      <div class="col-lg-8 col-md-7">
        <!-- Row -->
        <div class="row g-mr-20--md g-mb-30--lg">
          <div class="col-lg-6 g-mb-40">
            <i class="icon-communication-016 u-line-icon-pro d-block g-font-size-55 g-line-height-1 g-color-primary g-mb-15"></i>
            <h4 class="h4 g-color-gray-dark-v2 g-mb-10">Atualizações Automáticas</h4>
            <p class="mb-0">Atualizações automática, diretamenta na ferramenta, sem complicação, tudo online.</p>
          </div>

          <div class="col-lg-6 g-mb-40">
            <i class="icon-finance-223 u-line-icon-pro d-block g-font-size-55 g-line-height-1 g-color-primary g-mb-15"></i>
            <h4 class="h4 g-color-gray-dark-v2 g-mb-10">Suporte Técnico</h4>
            <p class="mb-0">Suporte técnico especializado para instalação e configuração dos equipamentos, aplicativos
              e ferramentas.</p>
          </div>
        </div>
        <!-- End Row -->

        <!-- Row -->
        <div class="row g-mr-20--md">
          <div class="col-lg-6 g-mb-40 g-mb-0--lg">
            <i class="icon-real-estate-061 u-line-icon-pro d-block g-font-size-55 g-line-height-1 g-color-primary g-mb-15"></i>
            <h4 class="h4 g-color-gray-dark-v2 g-mb-10">Privacidade e Segurança</h4>
            <p class="mb-0">Equipe especializada em segurança para garantir a proteção e segurança dos dados e das suas
              informações pessoais.</p>
          </div>

          <div class="col-lg-6 g-mb-40 g-mb-0--lg">
            <i class="icon-finance-114 u-line-icon-pro d-block g-font-size-55 g-line-height-1 g-color-primary g-mb-15"></i>
            <h4 class="h4 g-color-gray-dark-v2 g-mb-10">Cancele quando quiser</h4>
            <p class="mb-0">Cancelamento online, sem compromisso, cancele quando quiser.</p>
          </div>
        </div>
        <!-- End Row -->
      </div>

      <div class="col-lg-4 col-md-5">
        <!-- Article -->
        <article class="text-center g-bg-white u-shadow-v24 g-color-gray-dark-v5 g-pa-50">

          <header class="text-uppercase g-font-size-12 g-mb-15">
            <hr class="g-brd-2 g-brd-primary g-width-50 g-mb-15 ">
            <h4 class="h5 font-weight-bold g-color-black">Assinatura</h4>
            <h3><span class="h3 font-weight-bold g-font-size-32 g-color-primary" id="valorAssinatura"></span></h3>
            <small style="position: relative; top:-18px;">Mensais</small>
          </header>

          <div class="input-group  g-mb-35">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button" onclick="remove()"><span class="fa fa-minus"></span></button>
            </span>
            <input type="text" id="qtdFranquia" class="form-control text-center" aria-label="Valor Assinatura">
            <span class="input-group-btn ">
              <button class="btn btn-secondary" type="button" onclick="add()"><span class="fa fa-plus"></span></button>
            </span>
          </div>

          <script>
          </script>

          <p class="g-mb-30 ">Acesso imediato a ferramenta e aplicativos, pagamento com total segurança.</p>
          <a id="btnLaunch" href="#preco" class="btn text-uppercase rounded-0 u-btn-primary g-font-size-default g-font-weight-700 g-pa-17-23 ">Contratar</a>

        </article>
        <!-- End Article -->

      </div>
    </div>
  </div>
</section>

<section id="contato" class="g-py-100 ">
  <div class="container ">
    <header class="text-center row g-mb-100">
      <div class="u-heading-v2-3--top col-md-8 col-xl-12 g-brd-blue g-mb-20 text-center">
        <h2 class="h1 g-color-black g-font-weight-700">Fale Conosco</h2>
      </div>
      <p class="lead g-px-200--lg">Caso não tenha encontrado resposta para alguma de suas dúvidas, entre em contato
        conosco pelo formulário abaixo.</p>
    </header>
    <div class="text-center mx-auto g-width-70x--md ">


      <form id="form" name="form">
        <div class="row ">
          <div class="col-md-6 form-group g-mb-30 ">
            <input class="form-control g-brd-primary--focus rounded-10 g-py-13 g-px-15" name="nome" id="nome" type="text "
              placeholder="Nome">
          </div>

          <div class="col-md-6 form-group g-mb-30 ">
            <input class="form-control g-brd-primary--focus rounded-10 g-py-13 g-px-15" name"email" id="email" type="email "
              placeholder="E-mail ">
          </div>

          <div class="col-md-6 form-group g-mb-30 ">
            <input class="form-control g-brd-primary--focus rounded-10 g-py-13 g-px-15" name="telefone" id="telefone"
              type="tel " placeholder="Telefone ">
          </div>
          <div class="col-md-6 form-group g-mb-30 ">
            <input class="form-control g-brd-primary--focus rounded-10 g-py-13 g-px-15" name"assunto" id="assunto" type="text "
              placeholder="Assunto ">
          </div>

          <div class="col-md-12 form-group g-mb-30 ">
            <textarea class="form-control g-brd-primary--focus rounded-10 g-py-13 g-px-15 g-resize-none" name="mensagem"
              id="mensagem" rows="7 " placeholder="Mensagem"></textarea>
          </div>
        </div>

        <div class="text-center ">
          <button class="btn u-btn-primary text-uppercase rounded-0 g-px-25 g-py-13" type="button" onclick="enviar()"
            role="button ">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</section>