---
layout: help
---
<section class="g-brd-bottom g-brd-gray-light-v4 g-pt-100 g-pb-100">
    <div class="container">
        <div class="row">
        <div class="col-lg-10">
            <div class="d-inline-block g-width-80 g-height-4 g-bg-black mb-3"></div>
            <h2 class="g-color-black g-font-weight-700 g-font-size-50 g-line-height-1 mb-4">{{page.title}}</h2>
            <p class="mb-0">{{page.description}}</p>
        </div>
        </div>
    </div>
</section>
<section class="container g-py-100">
    <div class="g-mb-50">
        {{content}}
    </div>
</section>


